/** ===========================
 *  шаблоны
 *  ===========================
*/
.div-margins {
  width: 1140px;
  margin: auto;
}

.clear::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/** ===========================
 *  
 *  ===========================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #site {
  min-width: 230px;
}

body {
  min-width: 230px;
} */

body {
  background: url(../images/3888-2592-33.jpg) no-repeat center center fixed;
  background-size: auto auto;
  background-blend-mode: color;
  font-family: "Marck Script", cursive;
}

/** ===========================
 *  h1
 *  ===========================
*/

.h1 h1 {
  text-align: center;
  color: transparent;
  text-shadow: 0 0 0 black;
  font-size: 4.5em;
  line-height: 0.9em;
  /*font-family: Mistral;*/
  font-family: "Marck Script", cursive;
  /*font-style: italic;*/
  letter-spacing: 0.2em;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
}

/** ===========================
 *  invitation
 *  ===========================
*/

.invitation {
  padding: 0 0 50px 0;
}

.invitation h2 {
  text-align: center;
  color: black;
  font-size: 3.2em;
}

.invitation-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;
}

#when,
#where {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invitation-text h3 {
  text-align: center;
  color: black;
  font-size: 2.5em;
}

.invitation-text hr {
  width: 0.15em;
  height: 5em;
  background-color: black;
}

.invitation-text p {
  text-align: center;
  color: black;
  font-size: 1.5em;
  display: inline;
}

.invitation-text #where > p {
  border-bottom: dashed #000000 1px;
}
.invitation-text #where:hover {
  cursor: pointer;
}

.invitation-text .timer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  /* border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: 100%; */
  margin: 10px;
}

.invitation-text .timer div {
  width: 75px;
  height: 75px;
  position: relative;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  position: absolute;
  /* border: 2px solid rgba(0, 0, 0, 0.18);
  border-radius: 100%; */
}

.timer .number {
  font-size: 1em;
  font-weight: bold;
}

.timer .text {
  font-size: 0.8em;
}

.invitation-form label {
  text-align: center;
  color: black;
  font-size: 2.5em;
  width: 100%;
}

.invitation-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.invitation-form button {
  font-size: 1em;
  width: 9.4em;
  height: 2.5em;
  border-radius: 3.1em;
  border: 1px solid;
  border-color: black;
  margin: 0.6em;
  cursor: pointer;
  background: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-family: "Marck Script", cursive;
}

.invitation-form button:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.confirm {
  order: 1;
}

.invitation-more {
  padding: 1.5em 0;
  display: none;
  width: 100%;
  flex-direction: column;
  /* font-family: "Marck Script", cursive; */
}

#text{
  margin-bottom: 10px;
}

#schedule{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invitation-more p {
  /*white-space: pre;*/
  text-align: left;
  font-size: 1.7em;
}

.invitation-more ul {
  /* text-align: left; */
  font-size: 1.5em;
}

.invitation-more li {
  /* text-align: left; */
  margin-left: 25px;
}

#schedule div{
  width: 48%;
  margin: 5px 0;
}

/*
  карта
*/

#map {
  width: 1024px;
}

#instagram{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 50px 0;
  width: 100%;
}

#instagram > div{
  font-size: 2em;
  color: black;
  background: url(../images/Novel_icon-icons.com_54157.svg) left center no-repeat;
  padding: 0 0 0 50px;
  display: inline-block;
  margin-top: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#instagram-tag{
  font-family: initial;
}

#instagram-tag a{
  color: black;
}

#instagram-tag a:active{
  color: black;
}

#instagram-tag a:visited{
  color: black;
}

.instagram{
  padding: 5px;
}

/** ===========================
 *  модальное окно
 *  ===========================
*/

.modalDialog {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.43);
  display: none;
  pointer-events: none;
  z-index: 999999;
  font-family: initial;
}

.modalDialog:target {
  display: flex;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
}

.modalDialog > div {
  position: relative;
  padding: 40px 20px 40px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.44);
}

.modalDialog form,
.modalDialog form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.modalDialog form > div {
  display: none;
}

.close {
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  right: 0;
  top: 0;
  line-height: 20px;
  width: 20px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.close:hover {
  color: #c7c7c7;
}

.modalDialog form button {
  color: white;
  font-size: 1em;
  width: 9.4em;
  height: 2.5em;
  border-radius: 3.1em;
  border: 1px solid;
  border-color: white;
  margin: 0.6em;
  cursor: pointer;
  background: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.modalDialog form button:hover {
  background-color: rgba(255, 255, 255, 0.23);
}

.modalDialog input,
.modalDialog textarea {
  background: rgba(0, 0, 0, 0);
  margin: 5px 0;
  color: white;
  height: 30px;
  width: 100%;
  padding: 4px 0 0 6px;
}

.modalDialog .name,
.modalDialog .surname {
  width: 45%;
}

.modalDialog textarea {
  height: 100px;
  resize: none;
}

.modalDialog input.checkbox {
  display: none;
}

.modalDialog label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.modalDialog label:before {
  content: "";
  display: block;
  left: -0px;
  border-color: white;
  background-color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
}

input.checkbox:checked + label:before {
  color: black;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  content: "\2713";
}

/** ===========================
 *  галерея
 *  ===========================
*/

#galleria {
  margin: 50px 0 50px 0;
}

/* .galleria-theme-classic {
  background: rgba(0, 0, 0, 0);
  border-radius: 18px;
}

.galleria-theme-classic .galleria-thumbnails-container {
  display: none;
} */

/** ===========================
 *  media
 *  ===========================
*/
@font-face {
  font-family: Marck Script; /* Гарнитура шрифта */
  src: url(../fonts/MarckScript-Regular.ttf); /* Путь к файлу со шрифтом */
}

@media (min-width: 2560px) {
  body {
    background-size: 100% auto;
  }
}

@media (max-width: 1024px) {
  .div-margins {
    width: 100%;
    padding: 0 50px;
  }

  body {
    background-size: auto auto;
  }

  main {
    font-size: 14px;
  }

  .invitation-text {
    flex-direction: column;
  }

  #schedule {
    flex-direction: column;
  }

  #schedule div {
    width: 100%;
  }

  #schedule hr {
    /* display: none; */
    background-image: url(../images/pic-story-h2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  #when,
  #where,
  #timer {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .div-margins {
    width: 100%;
    padding: 0 10px;
  }

  body {
    background-size: 300% auto;
  }

  main {
    font-size: 12px;
  }

  .invitation-text hr {
    height: 0.15em;
    width: 5em;
    margin: 15px 0;
  }

  #when,
  #where,
  #timer {
    width: 300px;
  }

  .modalDialog form,
  .modalDialog form > div {
    flex-direction: column;
    align-items: baseline;
    width: 170px;
  }

  .modalDialog input,
  .modalDialog textarea {
    background: rgba(0, 0, 0, 0);
    margin: 5px 0;
    color: white;
    width: 100%;
    padding: 4px 0 0 6px;
  }

  .modalDialog .name,
  .modalDialog .surname {
    width: 100%;
  }
}

@media (max-width: 425px) {
  body {
    background-size: 600% auto;
  }

  main {
    font-size: 10px;
  }
}

@media (max-width: 374px) {
  #instagram > div{
    flex-direction: column;
  }
}

@media (max-width: 319px) {
  main {
    font-size: 9px;
  }

  #when,
  #where,
  #timer {
    width: 250px;
  }
  #timer {
    flex-direction: column;
  }
}